In [12]:
print("="*5,"create by muhamad adzrial ramdhani","="*6)
print("="*20,"TI22E","="*20)
print("="*8,"Materi operator | 11 Okt 2022","="*8)

===== create by muhamad adzrial ramdhani ======
==================== TI22E ====================
======== Materi operator | 11 Okt 2022 ========

In [60]:
x = 4
y = 5
print(x,"+",y, "\t=",x+y,  "\t    >>Operator Pertambahan") 
print(x,"-",y, "\t=",x-y,  "\t    >>Operator Pengurangan")
print(x,"*",y, "\t=",x*y,  "\t    >>Operator Perkalian")
print(x,"/",y, "\t=",x/y,  "\t    >>Operator Pembagian")
print(x,"%",y, "\t=",x%y,  "\t    >>Operator Modulus")
print(x,"**",y,"\t=",x**y, "\t    >>Operator Eksponen")
print(x,"//",y,"\t=",x//y, "\t    >>Operator Floor Division")

4 + 5 	= 9 	    >>Operator Pertambahan
4 - 5 	= -1 	    >>Operator Pengurangan
4 * 5 	= 20 	    >>Operator Perkalian
4 / 5 	= 0.8 	    >>Operator Pembagian
4 % 5 	= 4 	    >>Operator Modulus
4 ** 5 	= 1024 	    >>Operator Eksponen
4 // 5 	= 0 	    >>Operator Floor Division

In [40]:
#operator assignment
x = 10
print("x =",x)
x+= 2 # x=x+2
print("x+= 2 -->",x)
x-=3 # x=x-3
print("x-=3 -->",x)
x*=4 # x=x*4
print("x*=4 -->",x)

x = 10
x+= 2 --> 12
x-=3 --> 9
x*=4 --> 36

In [30]:
#Latihan soal
print("5x2^2+10/20 =",5*2**2+10/20)

5x2^2+10/20 = 20.5

In [41]:
#Operator Perbandingan
x = 5
y = 20

print(f"{x}=={y} :",x==y)
print(f"{x}!={y} :",x!=y)
print(f"{x}> {y} :",x>y)
print(f"{x}< {y} :",x<y)
print(f"{x}>={y} :",x>=y)
print(f"{x}<={y} :",x<=y)

5==20 : False
5!=20 : True
5> 20 : False
5< 20 : True
5>=20 : False
5<=20 : True

In [46]:
# Latihan(2)
print("400 < 100 \t :",400<100)
print("10 * 2 = 20 \t :",10*2==20)
print("50 < 10 \t :",50*2!=100)
print("2 * 3 * 4 > = 24 :",2*3*4>=24)

400 < 100 	 : False
10 * 2 = 20 	 : True
50 < 10 	 : False
2 * 3 * 4 > = 24 : True

In [61]:
#Operator logika 
x = True
y = False
print(x,"and",y,"=",x or  y)
print(x,"and",y,"=",x and y)

True and False = True
True and False = False

In [65]:
# Latihan (3)
murah = True
discon= True
print("Laku       :",murah and discon)
print("Tidak Laku :",(not murah)and(not discon))

Laku       : True
Tidak Laku : False

In [67]:
# Oprator identitas 
a, b =2, 2
print(a is b)
print(a is not b)

True
False

In [74]:
# Operator Identitas
a = 5
b = 5
list_a = [1,2,3]
list_b = [1,2,3]
nama_a = "ramdhani"
nama_b = "ramdhani"

print("a is b               :",a is b)
print("a is not b           :",a is not b)

print("list_a is list_b     :",list_a is list_b)
print("list_a == list_b     :",list_a == list_b)

print("nama_a is nama_b     :",nama_a is nama_b)
print("nama_a is not nama_b :",nama_a is not nama_b)

a is b               : True
a is not b           : False
list_a is list_b     : False
list_a == list_b     : True
nama_a is nama_b     : True
nama_a is not nama_b : False

In [83]:
#latihan(4)
bahasa1 = ("python","php","javascript","java")
bahasa2 = ("python","php","golang","java","rush")
print(f"""
bahasa1 is bahasa2 : {bahasa1 is bahasa2}
bahasa1 is bahasa2 : {bahasa1 is not bahasa2}
""")

bahasa1 is bahasa2 : False
bahasa1 is bahasa2 : True

In [90]:
# Operator Member 
nama = "adzrial"
hobi = ["ngoding","bulu tangkis","sunmori"]
print(f"""
apakah i di nama                :{"i" in nama}
apakan y di nama                :{"y" in nama}
apakah sunmori di hobi          :{"sunmori" in hobi}
apakah bulu tangkis di hobi     :{"bulu tangkis" in hobi}
""")

apakah i di nama                :True
apakan y di nama                :False
apakah sunmori di hobi          :True
apakah bulu tangkis di hobi     :True

In [95]:
# Operator Betwise
x = int(input("Masukan number:"))
y = int(input("Masukan number:"))
print(f"""
{x}      : {bin(x)}
{y}      : {bin(y)}
{x} & {y}: {x & y}
{x} | {y}: {x | y}
{x} ^ {y}: {x ^ y}
""")

Masukan number:4
Masukan number:4

4      : 0b100
4      : 0b100
4 & 4: 4
4 | 4: 4
4 ^ 4: 0

In [97]:
print(f"""
biner dari hello
h = {format(104,"08b")}
e = {format(101,"08b")}
l = {format(108,"08b")}
l = {format(108,"08b")}
o = {format(111,"08b")}
""")

biner dari hello
h = 01101000
e = 01100101
l = 01101100
l = 01101100
o = 01101111