In [16]:
print("==============================")
print("belajar variable dan tipe data")
print("==============================")

nama= "muhamad adzrial ramdhani"
kelas="TI22E"
usia= 21
status= False 
hobi= "bulu tangkis"
absen= "hadir"
print("nama :",nama)
print("kelas :",kelas)
print("usia :",usia)
print("status :",status)
print("hobi :",hobi)
print("absen :",absen)


print("="*8,"TERIMA KASIH","="*8)

==============================
belajar variable dan tipe data
==============================
nama : muhamad adzrial ramdhani
kelas : TI22E
usia : 21
status : False
hobi : bulu tangkis
absen : hadir
======== TERIMA KASIH ========

In [11]:
a,b,c=1,2,"mantap"
print("a :",a)
print("b :",b)
print("c :",c)

a : 1
b : 2
c : mantap

In [17]:
a=b=c=10
print("a :",a)
print("b :",b)
print("c :",c)

a : 10
b : 10
c : 10

In [19]:
kota= "sukabumi"
luas= 1500

print(type(kota))
print(type(luas))

<class 'str'>
<class 'int'>

In [28]:
lebar=5
panjang=10
luas=lebar*panjang

print("L",lebar,'*',"P",panjang,"=",luas)
print("type data lebar", type(lebar))
print("type data panjang", type(panjang))
print("type data luas", type(luas))

L 5 * P 10 = 50
type data lebar <class 'int'>
type data panjang <class 'int'>
type data luas <class 'int'>

In [39]:
print("="*20)
print("Rumus Luas Segitiga")
print("="*20)
alas=10
tinggi=5
hasil=(alas*tinggi)/2
print("1/2(",alas,"x",tinggi,") =",hasil)
print("luas segitiga adalah %0.1f" %hasil)

====================
Rumus Luas Segitiga
====================
1/2( 10 x 5 ) = 25.0
luas segitiga adalah 25.0

In [48]:
print("="*17,"RUMUS HITUNG UMUR","="*18)

t_lahir= 2001
t_now= 2022
umur_now = t_now - t_lahir 
print("tahun sekarang :",t_now)
print("tahun lahir :",t_lahir)
print("umur kamu :",umur_now)

print("="*20,"TERIMA KASIH","="*20)

================= RUMUS HITUNG UMUR ==================
tahun sekarang : 2022
tahun lahir : 2001
umur kamu : 21
==================== TERIMA KASIH ====================

In [52]:
nama_depan="muhamad adzrial"
nama_belakang="ramdhani"
nama_lengkap= nama_depan + " " + nama_belakang 
usia= 21
alamat="Baros"
kata_mutiara= "tetap bersyukur walaupun banyak cobaan"
print("type dari nama lenglap :",type(nama_lengkap))
print("type dari usia         :",type(usia))
print("type dari alamat       :",type(alamat))
print("type dari kata mutiara :",type(kata_mutiara))

type dari nama lenglap : <class 'str'>
type dari usia         : <class 'int'>
type dari alamat       : <class 'str'>
type dari kata mutiara : <class 'str'>

In [67]:

print("saya   "*3,)

saya   saya   saya

In [68]:
print("saya*saya")

saya*saya

In [73]:
print("saya\nsaya\nsaya")

saya
saya
saya

In [76]:
print("""
saya
saya
saya""")

saya
saya
saya

In [80]:
saya_orang_indonesia = True
saya_robot = False 


print("apakah saya orang indonesia :",saya_orang_indonesia)
print("apakah saya robot :",saya_robot)

apakah saya orang indonesia : True
apakah saya robot : False

In [82]:
#soal 12<10>12 A=a
print("12 < 10 :",12<10)
print("10 > 12 :",10>12) 
print("A = a :",'A'=='a')

12 < 10 : False
10 > 12 : False
A = a : False